* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Mukta', sans-serif;
    background: linear-gradient(270deg, #478575, #0a192f);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* START OF NAVBAR */
.topnav {
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
    text-shadow: 2px 2px 4px #000000;
}

.topnav .right {
    float: right;
}

.topnav a:hover {
	color: #73d0b9;
}

.topnav .icon {
	display: none;
}

.topnav img {
    transition: transform .7s ease-in-out;
}
.topnav img:hover {
    transform: rotate(360deg);
}

.topnav #logo:hover {
    opacity: .7;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
        background-color: #0A192F;
        border-bottom: 5px solid #73d0b9;
        z-index: 2;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
/* END OF NAVBAR */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: left;
}

.container p {
    color: #73d0b9;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
}

.container h1 {
    color: rgb(223, 223, 223);
    font-size: 50px;
}

.container .social-links {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container .social-links a {
    text-decoration: none;
    color: white;
    margin: 1rem;
}

.container .social-links a:hover {
    opacity: .7;
}

.container #email_link:hover {
    opacity: .7;
}

/* LOADER WRAPPER
:root {
    --effect: hover 1s linear infinite;
}

.loader-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: black;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.loader {
    text-align: center;
}

.loader p {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-family: arial;
    font-weight: 600;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
}

.loader p:nth-child(1) {
    animation: var(--effect);
}

.loader p:nth-child(2) {
    animation: var(--effect) .125s;
}

.loader p:nth-child(3) {
    animation: var(--effect) .25s;
}

.loader p:nth-child(4) {
    animation: var(--effect) .375s;
}

.loader p:nth-child(5) {
    animation: var(--effect) .5s;
}

.loader p:nth-child(6) {
    animation: var(--effect) .675s;
}

.loader p:nth-child(7) {
    animation: var(--effect) .75s;
}

@keyframes hover {
    0% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }

    20% {
        transform: scale(1);
        color: pink;
        -webkit-text-stroke: 3px red;
        filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }

    50% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }
} */

/* MOBILE STUFF */

@media only screen and (max-width: 600px) {
    .container {
        all: unset;
        position: unset;
        text-align: center;
        margin: 0 auto;
    }

    .container h1 {
        font-size: 24px;
    }
    .container p {
        font-size: 18px;
    }
}